# 1 Задание

In [43]:
import pandas as pd

In [44]:
df = pd.read_csv('task/2016-FCC-New-Coders-Survey-Data.csv', low_memory=False)
df.head()

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampMonthsAgo,BootcampName,BootcampPostSalary,BootcampRecommend,ChildrenNumber,...,ResourceSoloLearn,ResourceStackOverflow,ResourceTreehouse,ResourceUdacity,ResourceUdemy,ResourceW3Schools,ResourceYouTube,SchoolDegree,SchoolMajor,StudentDebtOwe
0,28.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"some college credit, no degree",NaN,20000.0
1,22.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,"some college credit, no degree",NaN,NaN
2,19.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,high school diploma or equivalent (GED),NaN,NaN
3,26.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,bachelor's degree,Cinematography And Film,7000.0
4,20.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"some college credit, no degree",NaN,NaN

# 2 Задание

In [45]:
df1 = df.loc[:, ["CityPopulation", "EmploymentStatus", "Gender", "HasDebt", "JobPref", "JobWherePref", 
           "MaritalStatus", "Income", "SchoolDegree"]]
df1

,CityPopulation,EmploymentStatus,Gender,HasDebt,JobPref,JobWherePref,MaritalStatus,Income,SchoolDegree
0,"between 100,000 and 1 million",Employed for wages,male,1.0,freelance,NaN,married or domestic partnership,32000.0,"some college credit, no degree"
1,"between 100,000 and 1 million",Employed for wages,male,0.0,work for a startup,in an office with other developers,NaN,15000.0,"some college credit, no degree"
2,more than 1 million,Employed for wages,male,0.0,start your own business,NaN,NaN,48000.0,high school diploma or equivalent (GED)
3,more than 1 million,Employed for wages,female,1.0,work for a startup,from home,NaN,43000.0,bachelor's degree
4,"between 100,000 and 1 million",Employed for wages,female,1.0,work for a medium-sized company,in an office with other developers,NaN,6000.0,"some college credit, no degree"
...,...,...,...,...,...,...,...,...,...
15615,more than 1 million,Self-employed freelancer,male,1.0,start your own business,NaN,"single, never married",10000.0,bachelor's degree
15616,more than 1 million,Employed for wages,male,0.0,work for a startup,in an office with other developers,"single, never married",10000.0,bachelor's degree
15617,more than 1 million,Self-employed freelancer,male,0.0,freelance,NaN,NaN,48000.0,bachelor's degree
15618,more than 1 million,Self-employed freelancer,male,0.0,NaN,NaN,NaN,10000.0,master's degree (non-professional)
15619,more than 1 million,Employed for wages,female,1.0,freelance,NaN,"single, never married",18000.0,bachelor's degree

# 3 Задание

In [46]:
df1.dropna(inplace=True)
df1

,CityPopulation,EmploymentStatus,Gender,HasDebt,JobPref,JobWherePref,MaritalStatus,Income,SchoolDegree
20,more than 1 million,Employed for wages,female,1.0,work for a medium-sized company,in an office with other developers,married or domestic partnership,200000.0,master's degree (non-professional)
36,"between 100,000 and 1 million",Self-employed freelancer,male,1.0,work for a medium-sized company,in an office with other developers,married or domestic partnership,60000.0,high school diploma or equivalent (GED)
59,more than 1 million,Employed for wages,male,1.0,work for a medium-sized company,in an office with other developers,married or domestic partnership,35000.0,"some college credit, no degree"
71,more than 1 million,Employed for wages,male,1.0,work for a multinational corporation,from home,married or domestic partnership,56000.0,"some college credit, no degree"
72,"less than 100,000",Employed for wages,male,1.0,work for a medium-sized company,from home,married or domestic partnership,35000.0,bachelor's degree
...,...,...,...,...,...,...,...,...,...
15564,"less than 100,000",Employed for wages,male,1.0,work for a medium-sized company,in an office with other developers,married or domestic partnership,200000.0,"professional degree (MBA, MD, JD, etc.)"
15566,more than 1 million,Employed for wages,male,0.0,work for a startup,no preference,married or domestic partnership,200000.0,bachelor's degree
15584,more than 1 million,Employed for wages,male,1.0,work for a multinational corporation,in an office with other developers,married or domestic partnership,200000.0,bachelor's degree
15598,"less than 100,000",Employed for wages,male,1.0,work for a medium-sized company,from home,married or domestic partnership,200000.0,associate's degree
15616,more than 1 million,Employed for wages,male,0.0,work for a startup,in an office with other developers,"single, never married",10000.0,bachelor's degree

In [47]:
df1 = df1[(df1['Gender'] == 'male') | (df1['Gender'] == 'female')]
df1

,CityPopulation,EmploymentStatus,Gender,HasDebt,JobPref,JobWherePref,MaritalStatus,Income,SchoolDegree
20,more than 1 million,Employed for wages,female,1.0,work for a medium-sized company,in an office with other developers,married or domestic partnership,200000.0,master's degree (non-professional)
36,"between 100,000 and 1 million",Self-employed freelancer,male,1.0,work for a medium-sized company,in an office with other developers,married or domestic partnership,60000.0,high school diploma or equivalent (GED)
59,more than 1 million,Employed for wages,male,1.0,work for a medium-sized company,in an office with other developers,married or domestic partnership,35000.0,"some college credit, no degree"
71,more than 1 million,Employed for wages,male,1.0,work for a multinational corporation,from home,married or domestic partnership,56000.0,"some college credit, no degree"
72,"less than 100,000",Employed for wages,male,1.0,work for a medium-sized company,from home,married or domestic partnership,35000.0,bachelor's degree
...,...,...,...,...,...,...,...,...,...
15564,"less than 100,000",Employed for wages,male,1.0,work for a medium-sized company,in an office with other developers,married or domestic partnership,200000.0,"professional degree (MBA, MD, JD, etc.)"
15566,more than 1 million,Employed for wages,male,0.0,work for a startup,no preference,married or domestic partnership,200000.0,bachelor's degree
15584,more than 1 million,Employed for wages,male,1.0,work for a multinational corporation,in an office with other developers,married or domestic partnership,200000.0,bachelor's degree
15598,"less than 100,000",Employed for wages,male,1.0,work for a medium-sized company,from home,married or domestic partnership,200000.0,associate's degree
15616,more than 1 million,Employed for wages,male,0.0,work for a startup,in an office with other developers,"single, never married",10000.0,bachelor's degree

# 4, 5 Задания

### пункт a

In [81]:
import scipy.stats as sts
import numpy as np

In [82]:
df2 = df1.copy()

In [83]:
print(f"Проверка гипотезы на нормальность распределения тестом Шапиро Уилка для уровня дохода:")
z, p = sts.shapiro(df2.Income)
print(f"Статистика критерия {z}, p_value {p}")

Проверка гипотезы на нормальность распределения тестом Шапиро Уилка для уровня дохода:
Статистика критерия 0.8556976914405823, p_value 2.449405406991464e-28

In [84]:
df2['log_income'] = np.log(df2.Income + 1)
print(f"Проверка гипотезы на нормальность распределения тестом Шапиро Уилка для уровня дохода:")
z, p = sts.shapiro(df2.log_income)
print(f"Статистика критерия {z}, p_value {p}")

Проверка гипотезы на нормальность распределения тестом Шапиро Уилка для уровня дохода:
Статистика критерия 0.9735251665115356, p_value 5.584226223792621e-12

### пункт b

In [85]:
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [86]:
model =  ols("Income ~ SchoolDegree", df2).fit()
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 Income   R-squared:                       0.033
Model:                            OLS   Adj. R-squared:                  0.023
Method:                 Least Squares   F-statistic:                     3.442
Date:                Wed, 30 Nov 2022   Prob (F-statistic):           0.000348
Time:                        13:01:38   Log-Likelihood:                -10971.
No. Observations:                 931   AIC:                         2.196e+04
Df Residuals:                     921   BIC:                         2.201e+04
Df Model:                           9
Covariance Type:            nonrobust
============================================================================================================================
                                                               coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------------------------------------------
Intercept                                                 5.162e+04   7316.292      7.055      0.000    3.73e+04     6.6e+04
SchoolDegree[T.associate's degree]                       -8754.8139   8119.790     -1.078      0.281   -2.47e+04    7180.623
SchoolDegree[T.bachelor's degree]                        -2395.7568   7503.288     -0.319      0.750   -1.71e+04    1.23e+04
SchoolDegree[T.high school diploma or equivalent (GED)]  -8446.5587   8549.063     -0.988      0.323   -2.52e+04    8331.346
SchoolDegree[T.master's degree (non-professional)]        -690.0082   7840.517     -0.088      0.930   -1.61e+04    1.47e+04
SchoolDegree[T.no high school (secondary school)]         3.263e+04   1.75e+04      1.860      0.063   -1796.353    6.71e+04
SchoolDegree[T.professional degree (MBA, MD, JD, etc.)]   7034.2105   8643.861      0.814      0.416   -9929.740     2.4e+04
SchoolDegree[T.some college credit, no degree]           -7962.2102   7728.490     -1.030      0.303   -2.31e+04    7205.284
SchoolDegree[T.some high school]                         -2.803e+04   1.01e+04     -2.776      0.006   -4.79e+04   -8216.839
SchoolDegree[T.trade, technical, or vocational training] -5181.0069   8696.986     -0.596      0.552   -2.22e+04    1.19e+04
==============================================================================
Omnibus:                      372.167   Durbin-Watson:                   1.675
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1698.303
Skew:                           1.830   Prob(JB):                         0.00
Kurtosis:                       8.512   Cond. No.                         25.9
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [87]:
df3 = df2[:100]

In [88]:
print(f"Проверка гипотезы на нормальность распределения тестом Шапиро Уилка для уровня дохода:")
z, p = sts.shapiro(df3.log_income)
print(f"Статистика критерия {z}, p_value {p}")

Проверка гипотезы на нормальность распределения тестом Шапиро Уилка для уровня дохода:
Статистика критерия 0.9772992730140686, p_value 0.0817166194319725

In [89]:
model =  ols("Income ~ SchoolDegree", df3).fit()
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 Income   R-squared:                       0.044
Model:                            OLS   Adj. R-squared:                 -0.052
Method:                 Least Squares   F-statistic:                    0.4561
Date:                Wed, 30 Nov 2022   Prob (F-statistic):              0.900
Time:                        13:01:41   Log-Likelihood:                -1182.7
No. Observations:                 100   AIC:                             2385.
Df Residuals:                      90   BIC:                             2411.
Df Model:                           9
Covariance Type:            nonrobust
============================================================================================================================
                                                               coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------------------------------------------
Intercept                                                  5.85e+04   1.75e+04      3.350      0.001    2.38e+04    9.32e+04
SchoolDegree[T.associate's degree]                       -3.164e+04   2.19e+04     -1.446      0.152   -7.51e+04    1.18e+04
SchoolDegree[T.bachelor's degree]                        -7465.7143   1.84e+04     -0.405      0.686   -4.41e+04    2.92e+04
SchoolDegree[T.high school diploma or equivalent (GED)]  -1.369e+04   2.14e+04     -0.640      0.524   -5.62e+04    2.88e+04
SchoolDegree[T.master's degree (non-professional)]       -5777.7778   1.93e+04     -0.299      0.765   -4.41e+04    3.26e+04
SchoolDegree[T.no high school (secondary school)]         6500.0000    3.9e+04      0.166      0.868   -7.11e+04    8.41e+04
SchoolDegree[T.professional degree (MBA, MD, JD, etc.)]  -1.056e+04   2.14e+04     -0.494      0.623   -5.31e+04    3.19e+04
SchoolDegree[T.some college credit, no degree]           -8783.3333   2.02e+04     -0.436      0.664   -4.88e+04    3.13e+04
SchoolDegree[T.some high school]                          -1.95e+04   2.67e+04     -0.731      0.467   -7.25e+04    3.35e+04
SchoolDegree[T.trade, technical, or vocational training] -1.525e+04   2.47e+04     -0.618      0.538   -6.43e+04    3.38e+04
==============================================================================
Omnibus:                       48.916   Durbin-Watson:                   1.740
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              138.918
Skew:                           1.774   Prob(JB):                     6.83e-31
Kurtosis:                       7.556   Cond. No.                         18.2
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [90]:
anova = sm.stats.anova_lm(model, typ=1)
anova

                df        sum_sq       mean_sq         F    PR(>F)
SchoolDegree   9.0  5.006892e+09  5.563214e+08  0.456128  0.899991
Residual      90.0  1.097694e+11  1.219660e+09       NaN       NaN

#### Вывод: Доход от уровня образования не зависит

### Зависимость зарплаты от пола

In [95]:
model1 =  ols("Income ~ Gender", df2).fit()
model1.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 Income   R-squared:                       0.000
Model:                            OLS   Adj. R-squared:                 -0.001
Method:                 Least Squares   F-statistic:                   0.04425
Date:                Wed, 30 Nov 2022   Prob (F-statistic):              0.833
Time:                        13:02:19   Log-Likelihood:                -10986.
No. Observations:                 931   AIC:                         2.198e+04
Df Residuals:                     929   BIC:                         2.199e+04
Df Model:                           1
Covariance Type:            nonrobust
==================================================================================
                     coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------
Intercept       4.805e+04   2627.093     18.291      0.000    4.29e+04    5.32e+04
Gender[T.male]  -603.7527   2870.139     -0.210      0.833   -6236.461    5028.955
==============================================================================
Omnibus:                      380.391   Durbin-Watson:                   1.665
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1742.643
Skew:                           1.876   Prob(JB):                         0.00
Kurtosis:                       8.554   Cond. No.                         4.78
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [96]:
model1 =  ols("Income ~ Gender", df3).fit()
model1.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 Income   R-squared:                       0.001
Model:                            OLS   Adj. R-squared:                 -0.009
Method:                 Least Squares   F-statistic:                    0.1083
Date:                Wed, 30 Nov 2022   Prob (F-statistic):              0.743
Time:                        13:02:19   Log-Likelihood:                -1184.9
No. Observations:                 100   AIC:                             2374.
Df Residuals:                      98   BIC:                             2379.
Df Model:                           1
Covariance Type:            nonrobust
==================================================================================
                     coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------
Intercept       5.083e+04   7846.871      6.478      0.000    3.53e+04    6.64e+04
Gender[T.male] -2868.6160   8718.746     -0.329      0.743   -2.02e+04    1.44e+04
==============================================================================
Omnibus:                       50.751   Durbin-Watson:                   1.764
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              145.845
Skew:                           1.848   Prob(JB):                     2.14e-32
Kurtosis:                       7.620   Cond. No.                         4.39
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [97]:
anova = sm.stats.anova_lm(model1, typ=1)
anova

            df        sum_sq       mean_sq         F    PR(>F)
Gender     1.0  1.266437e+08  1.266437e+08  0.108252  0.742845
Residual  98.0  1.146496e+11  1.169894e+09       NaN       NaN

#### Вывод: Доход от пола не зависит